<!--
 eventDate:{type:Date, required:true},
            customerId:{type:String, required:true, min:3},
            beaconEnterDate:{type:Date, required:true},
            beaconExitDate:{type:Date},
            location:{type:String, required:true, min:3},
            beaconId:{type:String, required:true, min:3},
            customerName :{type:String,ref:'Customer'}

-->
<form class="form-horizontal" role="form" ng-submit="saveEvent()" class="col-md-6">
    <div class="form-group">
        <label for="location" class="col-sm-2 control-label">Location</label>
        <div class="col-sm-10">
            <input type="text"  required ng-model="location" class="form-control" id="location" placeholder="location">
        </div>
    </div>
    <div class="form-group">
        <label for="eventDate" class="col-sm-2 control-label">event date</label>
        <div class="col-sm-10">
            <input type="date" required ng-model="eventDate" class="form-control" id="eventDate" placeholder="event Date">
        </div>
    </div>
    <div class="form-group">
        <label for="location" class="col-sm-2 control-label">Beacon enter date</label>
        <div class="col-sm-10">
            <input type="datetime-local"  required ng-model="beaconEnterDate" class="form-control" id="beaconEnterDate" placeholder="beacon Enter Date">
        </div>
    </div>
    <div class="form-group">
        <label for="beaconExitDate" class="col-sm-2 control-label">Beacon exit date</label>
        <div class="col-sm-10">
            <input type="datetime-local" required  ng-model="beaconExitDate" class="form-control" id="beaconExitDate" placeholder="beacon Exit Date">
        </div>
    </div>
    <div class="form-group">
        <label for="beaconId" class="col-sm-2 control-label">Beacon id</label>
        <div class="col-sm-10">
            <input type="text" required  ng-model="beaconId" class="form-control" id="beaconId" placeholder="beaconId">
        </div>
    </div>
    <div class="form-group">
        <label for="customerId" class="col-sm-2 control-label">Customer id</label>
        <div class="col-sm-10">
            <input type="text" required  ng-model="customerId" class="form-control" id="customerId" placeholder="location">
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="hidden"   ng-model="_id" class="form-control" id="_id">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
</form>